.card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    border: none;
  }
  
  .card img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .card h2 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .card p {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .btn-add-to-cart {
    background-color: #e8acaa;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-add-to-cart:hover {
    background-color: #1a1c1a;
  }
  .card:hover{
    cursor: pointer;

  }
  a{
    text-decoration: none;
    color: black;
  }
 
  
  
  
  
  
  